<div class="col-sm-4 col-lg-4 col-md-4">
    <div class="thumbnail">
        <!--<img src={{product.imgUrl}} alt=""/>-->
        <img [src]="product.imgUrl" alt=""/>
        <div class="caption">
            <h4 class="pull-right">{{product.price}}</h4>
            <h4><a href="#">{{product.name}}</a>
            </h4>
            <p>{{product.description}}</p>
        </div>
        <div class="ratings">
            <p class="pull-right">{{product.reviews}}</p>
            <p>
                <span *ngIf="product.rating >= 1; else elseBlock" class="glyphicon glyphicon-star"></span><ng-template #elseBlock><span class="glyphicon glyphicon-star-empty"></span></ng-template>
                <span *ngIf="product.rating >= 2; else elseBlock" class="glyphicon glyphicon-star"></span><ng-template #elseBlock><span class="glyphicon glyphicon-star-empty"></span></ng-template>
                <span *ngIf="product.rating >= 3; else elseBlock" class="glyphicon glyphicon-star"></span><ng-template #elseBlock><span class="glyphicon glyphicon-star-empty"></span></ng-template>
                <span *ngIf="product.rating >= 4; else elseBlock" class="glyphicon glyphicon-star"></span><ng-template #elseBlock><span class="glyphicon glyphicon-star-empty"></span></ng-template>
                <span *ngIf="product.rating >= 5; else elseBlock" class="glyphicon glyphicon-star"></span><ng-template #elseBlock><span class="glyphicon glyphicon-star-empty"></span></ng-template>
            </p>
        </div>
        <button class="btn btn-sm" (click)="addToCart()">Add To Cart</button>
    </div>
</div>